/****** PLACE YOUR CUSTOM STYLES HERE ******/
#social-media-icons {
	font-size: 24px;
}


.main-logo {
	padding-bottom: 40px;
}

.bg-primary h3, .bg-primary p {
	color: #233140;
}

.mb1 {
  margin-bottom: 1px;
}

footer.bg-dark h4,
.bg-primary h4,
.bg-dark h5{
  color: #233140;
}

textarea {
  color: #233140;
}